Node-RED/Node-RED flow.json
[{"id":"39cd8c9c.c834a4","type":"tab","label":"MQTT_Template","disabled":false,"info":""},{"id":"5ee2c554.8f41d4","type":"mqtt in","z":"39cd8c9c.c834a4","name":"","topic":"/demo_scope/monitor","qos":"2","datatype":"auto","broker":"25e7cacb.75e226","x":190,"y":240,"wires":[["926a8f45.a5a43"]]},{"id":"96a569f0.bc3e98","type":"debug","z":"39cd8c9c.c834a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":240,"wires":[]},{"id":"926a8f45.a5a43","type":"json","z":"39cd8c9c.c834a4","name":"","property":"payload","action":"","pretty":false,"x":410,"y":240,"wires":[["7a8d53ef.78cefc"]]},{"id":"7a8d53ef.78cefc","type":"function","z":"39cd8c9c.c834a4","name":"extract gMonitorValue1","func":"msg.payload = msg.payload[\"gMonitorValue1\"]\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":240,"wires":[["96a569f0.bc3e98"]]},{"id":"2ace60a4.fff35","type":"mqtt in","z":"39cd8c9c.c834a4","name":"","topic":"/demo_scope/onconnect","qos":"2","datatype":"auto","broker":"25e7cacb.75e226","x":200,"y":380,"wires":[["43bb7b40.9b4dc4"]]},{"id":"43bb7b40.9b4dc4","type":"json","z":"39cd8c9c.c834a4","name":"","property":"payload","action":"","pretty":false,"x":410,"y":380,"wires":[["7f80cd60.f82ec4"]]},{"id":"7f80cd60.f82ec4","type":"function","z":"39cd8c9c.c834a4","name":"extract gSettingParameter1","func":"msg.payload = msg.payload[\"gSettingParameter1\"]\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":380,"wires":[["2d4f053c.28adca"]]},{"id":"2d4f053c.28adca","type":"debug","z":"39cd8c9c.c834a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":380,"wires":[]},{"id":"326739c9.5ab64e","type":"inject","z":"39cd8c9c.c834a4","name":"gSettingParameter1 = 10","topic":"gSettingParameter1","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":480,"wires":[["58f266e7.edd998"]]},{"id":"58f266e7.edd998","type":"function","z":"39cd8c9c.c834a4","name":"convert to JSON","func":"var jsObj = {}\njsObj[msg.topic] = msg.payload\nmsg.payload = jsObj\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":480,"wires":[["b2f192f2.49d978"]]},{"id":"ae3c403f.2d5f2","type":"mqtt out","z":"39cd8c9c.c834a4","name":"","topic":"/demo_scope/settings","qos":"","retain":"","broker":"25e7cacb.75e226","x":980,"y":480,"wires":[]},{"id":"d3209c6e.00d1d","type":"debug","z":"39cd8c9c.c834a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":560,"wires":[]},{"id":"b2f192f2.49d978","type":"json","z":"39cd8c9c.c834a4","name":"","property":"payload","action":"","pretty":false,"x":790,"y":480,"wires":[["ae3c403f.2d5f2","d3209c6e.00d1d"]]},{"id":"609565bd.07156c","type":"inject","z":"39cd8c9c.c834a4","name":"gCommandCmd1 = on","topic":"gCommandCmd1","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":640,"wires":[["8de5a91a.1596a8"]]},{"id":"8de5a91a.1596a8","type":"function","z":"39cd8c9c.c834a4","name":"convert to JSON","func":"var jsObj = {}\njsObj[msg.topic] = msg.payload\nmsg.payload = jsObj\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":640,"wires":[["ac6fd710.108388"]]},{"id":"95829a9.16fed68","type":"mqtt out","z":"39cd8c9c.c834a4","name":"","topic":"/demo_scope/commands","qos":"","retain":"","broker":"25e7cacb.75e226","x":1010,"y":640,"wires":[]},{"id":"88eff7f7.5366a8","type":"debug","z":"39cd8c9c.c834a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":720,"wires":[]},{"id":"ac6fd710.108388","type":"json","z":"39cd8c9c.c834a4","name":"","property":"payload","action":"","pretty":false,"x":790,"y":640,"wires":[["95829a9.16fed68","88eff7f7.5366a8"]]},{"id":"5cab6913.81a0e","type":"inject","z":"39cd8c9c.c834a4","name":"gSettingParameter1 = 1","topic":"gSettingParameter1","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":540,"wires":[["58f266e7.edd998"]]},{"id":"25e7cacb.75e226","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"Birth message","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]